footer {
  .footer-block {
    @include flex-column-center;
    background-color: $gray-container-backgroud;
    padding: 50px 0;

    a {
      color: $gray-text;
      text-decoration: none;
    }
    a:hover {
      text-decoration: underline;
    }
    p:first-child {
      color: $h-blue-text;
      margin-bottom: 15px;
    }
  }
}
