header {
  position: sticky;
  @include flex-column-center;
  background-color: $white-container-backgroud;
  top: 0;
  height: 100px;
  width: 100%;
  box-shadow: 0 0 10px $black-shadow-05;
  z-index: 1;

  .header-content {
    @include flex-justify-center;
    width: 1250px;
    padding: 0 15px;

    .main-menu {
      @include flex-space-between-center;
      width: 100%;

      a {
        .logo-image {
          height: 80px;
          width: 80px;
          margin: 10px 0;
        }
      }

      .menu-ul {
        display: flex;
        list-style-type: none;
        font-size: 16px;

        a {
          text-decoration: none;
          padding: 10px 20px 10px 20px;
          color: $menu-a-text;
          // border-radius: 30px;
          transition: color 0.4s, background-color 0.4s, box-shadow 0.4s;
        }
        a:hover {
          color: $menu-a-hover-text;
          background-color: $menu-a-hover-background;
          box-shadow: 0 0 10px $black-shadow-01;
        }
        //li:last-child a
        .submit-application {
          color: $white-text;
          border-radius: 30px;
          font-weight: bold;
          background-color: $button-main-background;
        }
        //li:last-child a:hover
        .submit-application:hover {
          color: $button-main-background;
          background-color: $button-main-hover-background;
          box-shadow: 0 0 10px $black-shadow-03;
        }
      }

      .menu-burger {
        display: none;
        position: relative;
        align-items: center;
        justify-content: start;
        width: 22px;
        height: 12px;
        padding: 10px;
        background-color: $button-main-background;
        border-radius: 4px;
        cursor: pointer;
      }
      .menu-burger span {
        height: 2px;
        width: 22px;
        transform: scale(1);
        background-color: $white-container-backgroud;
        @include flex-column-center;
      }
      .menu-burger::before,
      .menu-burger::after {
        content: "";
        position: absolute;
        height: 2px;
        width: 22px;
        margin: 10px 0;
        background-color: $white-container-backgroud;
        transition: all 0.3s ease 0s;
      }
      .menu-burger::before {
        top: -2px;
      }
      .menu-burger::after {
        bottom: -2px;
      }
      .menu-burger.active span {
        transform: scale(0);
      }
      .menu-burger.active::before {
        top: 5.5px;
        transform: rotate(-45deg) translate(0, -50%);
      }
      .menu-burger.active::after {
        bottom: 5.5px;
        transform: rotate(45deg) translate(0, 50%);
      }
    }
  }
}
