#contact_find_us_container {
  @include flex-column-center;
  background-color: $blue-container-backgroud;

  .contact-find-us-block {
    display: flex;
    justify-content: space-around;
    @include set-container-width;

    .contact-find-us-item {
      @include flex-column-center;
      color: $white-container-backgroud;

      i {
        font-size: 50px;
      }
      h2 {
        margin: 20px 0 0;
        font-size: 18px;
      }
      a {
        margin-top: 10px;
        text-decoration: none;
        color: $white-text;
        font-weight: 200;
      }
    }
  }
}
