#site_development_container {
  background-color: $white-container-backgroud;
  @include flex-justify-center;

  .site-development-block {
    @include flex-column-center;
    @include set-container-width;

    h1 {
      font-weight: 400;
    }

    .site-dev-content {
      @include flex-justify-center;
      width: 100%;
      max-width: 1200px;

      .slick-dots li button:before {
        font-size: 12px;
        margin-top: 10px;
      }
      .dev-content-item {
        @include flex-column-center;
        width: 350px;
        height: 100%;
        margin: 20px;
        height: 350px;

        h2 {
          font-weight: 400;
          color: $gray-text;
        }
        hr {
          width: 100%;
          border: 1px solid $hr-main-color;
          margin-top: 25px;
          margin-bottom: 35px;
        }
        p {
          text-align: center;
          font-weight: 200;
          color: $gray-text;
        }
      }
    }
  }
}
