#site_development_container {
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;

  .site-development-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
    padding: 50px 15px;

    h1 {
      font-weight: 400;
    }

    .site-dev-content {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%; // Adjust width as needed
      max-width: 1200px; // Adjust max-width as needed
      // overflow: auto; // Add overflow property for responsiveness

      .slick-dots li button:before {
        font-size: 12px;
        margin-top: 10px;
      }

      .dev-content-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 350px; // Add units to the width
        height: 100%; // Ensure proper vertical alignment
        margin: 20px;
        height: 350px;

        h2 {
          font-weight: 400;
          color: #7f7f7f;
        }

        hr {
          width: 100%; // Adjust width to fill the container
          border: 1px solid #3498db;
          margin-top: 25px;
          margin-bottom: 35px;
        }

        p {
          text-align: center;
          font-weight: 200;
          color: #7f7f7f;
        }
      }
    }
  }
}
