#statistic_container {
  @include flex-justify-center;
  background-color: $blue-container-backgroud;

  .statistick-content-block {
    display: flex;
    justify-content: space-between;
    @include set-container-width;

    .statistick-item {
      @include flex-column-center;
      margin: 30px 50px;
      color: $white-text;

      h1 {
        margin: 20px;
        font-weight: 400;
      }
      p {
        font-weight: 200;
      }
    }
  }
}
