#student_feedback_container {
  display: flex;
  justify-content: center;
  align-items: center;

  .student-feedback-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;

    h1 {
      font-size: 26px;
      font-weight: 400;
      margin-top: 30px;
      margin-bottom: 10px;
      color: #333333;
    }
    .feedback-content {
      width: 900px;
      padding: 0 15px;
      margin-bottom: 30px;
      .slick-dots li button:before {
        font-size: 12px;
        margin-top: 10px;
      }
      .slick-dots {
        width: 870px;
      }
      .feedback-content-item {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #7f7f7f;

        blockquote {
          quotes: none;
          text-align: center;
          margin-bottom: 20px;
          width: 800px;
        }
        i {
          font-size: 28px;
          color: #c4c4c4;
        }
        .fa-quote-left {
          position: relative;
          left: -47%;
          top: 5px;
        }
        .fa-quote-right {
          position: relative;
          left: 47%;
          top: -90px;
        }
        cite {
          margin-bottom: 10px;
        }
        p {
          color: #333333;
        }
      }
    }
  }
}
