$black-shadow-01: rgba(0, 0, 0, 0.1);
$black-shadow-03: rgba(0, 0, 0, 0.3);
$black-shadow-05: rgba(0, 0, 0, 0.5);

$menu-a-text: #6a6a6a;
$menu-a-hover-text: #367cb8;
$menu-a-hover-background: #eeeeee;

$button-main-hover-background: #ffffff;
$button-main-background: #337ab7;

$white-text: #ffffff;
$gray-text: #7f7f7f;
$h-gray-text: #333333;
$h-blue-text: #3498db;
$quote-color: #c4c4c4;

$hr-main-color: #3498db;

$white-container-backgroud: #ffffff;
$gray-container-backgroud: #f7f7f7;
$blue-container-backgroud: #3498db;

$input-border-color: #bababa;
$input-focus-border-color: #337ab7;
$input-shadow-color: rgba(51, 122, 183, 0.5);
$input-error-color: red;

$link-text-color: #337ab7;